<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="goToCheckoutPage()">
        <ion-icon name="ftc-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ftc-stylized-font ftc-header-title">Histórico de pedidos</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content class="ftc-panel-background-color">

  <ion-row class="ftc-card-total" *ngIf="showEmptyPageMessage">
    <ion-card>
      <p class="ftc-color-primary" style="padding: 20px; font-weight: bold; font-size: 2rem;" text-center>Você não possui pedidos realizados.</p>
    </ion-card>
  </ion-row>

  <ion-card class="ftc-card-order-history" *ngFor="let item of orderHistories">
    <ion-card-content>
      <p class="ftc-primary-color"><b>Número do pedido: </b>{{ UTILS.leftPad(item.order_number, '0', 6) }}</p>
      <p class="ftc-primary-color"><b>Data: </b>{{ item.order_date }}</p>
      <p class="ftc-primary-color"><b>Valor: </b>{{ item.total_value | currency:"R$" }}</p>
      <p class="ftc-primary-color"><b>Endereço de entrega: </b>{{ item.delivery_address }}</p>
    </ion-card-content>

    <div style="padding: 5px 0px 5px 0px;">
      <button ion-button small round class="ftc-center" (click)="orderDetail(item.checkout_id, item.order_number)">Ver pedido</button>
    </div>

  </ion-card>

</ion-content>
  