page-payment {
    .ftc-payment-title {
        text-align: center;
        font-size: 1.8rem;
    }

    .ftc-input-select .text-input {
        margin-left: 38px;
    }

    .ftc-input-select .icon {
        margin-top: 8px;
    }
}
