<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ftc-stylized-font ftc-header-title">Carrinho de Compras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ftc-panel-background-color">

  <ion-row class="ftc-card-total" *ngIf="showEmptyCartMessage">
    <ion-card>
      <p class="ftc-color-primary" style="padding: 20px; font-weight: bold; font-size: 2rem;" text-center>Seu carrinho está vazio.</p>
    </ion-card>
  </ion-row>

  <ion-row class="ftc-card-total" *ngIf="showEmptyCartMessage">
    <ion-card>
      <ion-item>
        <p><span float-left>Subtotal: </span><span float-right class="ftc-color-primary">R$ 0,00</span></p>
        <p ><span float-left>Taxa de Entrega: </span><span float-right class="ftc-color-primary">R$ 0,00</span></p>
        <p class="ftc-divider"></p>
        <p><span float-left>Total: </span><span float-right class="ftc-color-primary">R$ 0,00</span></p>
      </ion-item>
    </ion-card>
  </ion-row>

  <ion-grid padding-top padding-right padding-left *ngIf="showCartItems">

    <ion-row margin-bottom class="ftc-card-checkout" *ngFor="let item of checkoutItems">
      <ion-col class="ftc-image-checkout">
        <img src="{{ item.photo }}">
      </ion-col>
      <ion-col padding-top class="ftc-card-content">
        <b class="ftc-color-primary ftc-stylized-font">{{ item.name }}</b>
        <p>{{ item.quantity }} x {{ item.price | currency:"R$" }}</p>
        <p>Total: {{ item.total | currency:"R$" }}</p>
      </ion-col>
      <ion-col class="ftc-color-primary ftc-icon-delete">
        <button ion-button icon-only clear style="margin-top: 25px;" (click)="openModalQuantity(item.id, item.quantity)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
        <button ion-button icon-only clear (click)="openModalQuantity(item.id, item.quantity)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-row class="ftc-card-total" *ngIf="showCartItems">
    <ion-card>
      <ion-item>
        <p><span float-left>Subtotal: </span><span float-right class="ftc-color-primary">{{ checkout.partial_value | currency:"R$" }}</span></p>
        <p ><span float-left>Taxa de Entrega: </span><span float-right class="ftc-color-primary">{{ checkout.delivery_fee | currency:"R$" }}</span></p>
        <p class="ftc-divider"></p>
        <p><span float-left>Total: </span><span float-right class="ftc-color-primary">{{ checkout.total_value | currency:"R$" }}</span></p>
      </ion-item>
    </ion-card>
  </ion-row>

  <div padding-right padding-left *ngIf="showCartItems"><button ion-button full round (click)="goToDeliveryInfo()">Confirmar Pedido</button></div>
</ion-content>
