<ion-header>
  <ion-navbar>
    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="goToCheckoutPage()">
        <ion-icon name="ftc-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ftc-stylized-font ftc-header-title">{{ 'Pedido ' + orderNumber }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ftc-panel-background-color">

    <ion-grid padding-top padding-right padding-left *ngIf="showCartItems">
  
      <ion-row margin-bottom class="ftc-card-checkout" *ngFor="let item of checkoutItems">
        <ion-col class="ftc-image-checkout">
          <img src="{{ item.photo }}">
        </ion-col>
        <ion-col padding-top class="ftc-card-content">
          <b class="ftc-color-primary ftc-stylized-font">{{ item.name }}</b>
          <p>{{ item.price | currency:"R$" }}</p>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
    <ion-row class="ftc-card-total" *ngIf="showCartItems">
      <ion-card>
        <ion-item>
          <p><span float-left>Subtotal: </span><span float-right class="ftc-color-primary">{{ partialValue | currency:"R$" }}</span></p>
          <p ><span float-left>Taxa de Entrega: </span><span float-right class="ftc-color-primary">{{ deliveryFee | currency:"R$" }}</span></p>
          <p class="ftc-divider"></p>
          <p><span float-left>Total: </span><span float-right class="ftc-color-primary">{{ totalValue | currency:"R$" }}</span></p>
        </ion-item>
      </ion-card>
    </ion-row>
  
  </ion-content>
  
